.mystery-quest-regular {
  font-family: "Mystery Quest", system-ui;
  font-weight: 400;
  font-style: normal;
}

ul {

}

body {
    background: #ffca7a;
    background: radial-gradient(circle, rgba(255, 202, 122, 1) 0%, rgba(247, 168, 168, 1) 100%);
}
h1 {
    font-family: "Mystery Quest", system-ui;
    font-size: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 600;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-top: 12px;
}